## Predicting US Covid Cases based on historical CDC reported flu data

In [1]:
import tensorflow as tf
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

### getting historical flu data

In [2]:
flu_dir = "../../cdc-fludata/us_national/"

In [3]:
flu_dictionary = {}

for year in range(1997, 2019):
    filepath = "usflu_"
    year_string = str(year) + "-" + str(year + 1)
    filepath = flu_dir + filepath + year_string + ".csv"
    temp_df = pd.read_csv(filepath)
    flu_dictionary[year] = temp_df

In [13]:
flu_dictionary[2003]

,YEAR,WEEK,TOTAL SPECIMENS,A (H1),A (Unable to Subtype),A (H3),A (2009 H1N1),A (Subtyping not Performed),B,H3N2v,PERCENT POSITIVE
0,2003,40,1430,0,0,2,0,19,1,0,1.538460
1,2003,41,1682,0,0,3,0,74,0,0,4.577880
2,2003,42,2176,0,0,17,0,235,1,0,11.626800
3,2003,43,2568,0,0,56,0,398,4,0,17.834900
4,2003,44,2753,0,0,100,0,435,0,0,19.433300
5,2003,45,3553,1,0,273,0,585,3,0,24.261200
6,2003,46,4595,0,0,381,0,908,2,0,28.095800
7,2003,47,5942,0,0,585,0,1375,8,0,33.120200
8,2003,48,6479,0,0,489,0,1752,10,0,34.743000
9,2003,49,9598,0,0,977,0,2260,32,0,34.059200
10,2003,50,12422,0,0,1401,0,2660,29,0,32.925500
11,2003,51,11783,0,0,1084,0,2525,20,0,30.798600
12,2003,52,9748,0,0,569,0,1826,16,0,24.733300
13,2003,53,8461,0,0,463,0,1226,12,0,20.104000
14,2004,1,6936,0,0,280,0,573,9,0,12.427900
15,2004,2,5411,0,0,169,0,331,5,0,9.332840
16,2004,3,4329,0,0,96,0,161,3,0,6.006010
17,2004,4,4166,0,0,93,0,70,3,0,3.984640
18,2004,5,3661,1,0,46,0,58,2,0,2.922700
19,2004,6,3530,0,0,24,0,36,5,0,1.841360
20,2004,7,3136,0,0,29,0,19,8,0,1.785710
21,2004,8,2559,0,0,16,0,10,12,0,1.484960
22,2004,9,2651,0,0,4,0,6,8,0,0.678989
23,2004,10,2369,0,0,2,0,6,6,0,0.590967
24,2004,11,2239,0,0,4,0,7,2,0,0.580616
25,2004,12,1801,0,0,5,0,4,15,0,1.332590
26,2004,13,1850,0,0,3,0,5,9,0,0.918919
27,2004,14,1778,0,0,0,0,1,8,0,0.506187
28,2004,15,1564,0,0,0,0,3,12,0,0.959079
29,2004,16,1449,0,0,2,0,11,11,0,1.656310
30,2004,17,1377,0,0,0,0,4,7,0,0.798838
31,2004,18,1298,0,0,0,0,3,6,0,0.693374
32,2004,19,1241,0,0,0,0,0,2,0,0.161160
33,2004,20,1105,0,0,0,0,1,3,0,0.361991
34,2004,21,1055,0,0,1,0,2,3,0,0.568720
35,2004,22,823,0,0,0,0,2,4,0,0.729040
36,2004,23,793,0,0,0,0,1,2,0,0.378310
37,2004,24,844,0,0,0,0,0,2,0,0.236967
38,2004,25,741,0,0,1,0,1,1,0,0.404858
39,2004,26,730,0,0,1,0,0,2,0,0.410959
40,2004,27,573,0,0,0,0,0,1,0,0.174520
41,2004,28,746,0,0,0,0,0,2,0,0.268097
42,2004,29,563,0,0,0,0,0,2,0,0.355240
43,2004,30,671,0,0,0,0,0,0,0,0.000000
44,2004,31,628,0,0,1,0,0,1,0,0.318471
45,2004,32,620,0,0,1,0,0,0,0,0.161290
46,2004,33,647,0,0,0,0,0,1,0,0.154560
47,2004,34,823,0,0,0,0,3,1,0,0.486027
48,2004,35,827,0,0,4,0,0,0,0,0.483676
49,2004,36,822,0,0,0,0,0,3,0,0.364964
50,2004,37,907,0,0,1,0,4,2,0,0.771775
51,2004,38,890,0,0,2,0,1,1,0,0.449438
52,2004,39,919,0,0,4,0,8,2,0,1.523390

### combining flu data into one chronological series of total cases

In [22]:
# getting total cases and putting them in a series by week
flu_series_dict = {} 

for year in flu_dictionary:
    temp_df = flu_dictionary[year]
    temp_df = temp_df.set_index("WEEK")
    abridged_df = temp_df.iloc[:, 2:]
    
    try:
        abridged_df = abridged_df.drop(columns="PERCENT POSITIVE")
    except:
        pass
    
    total_cases_series = abridged_df.sum(axis=1)
    flu_series_dict[year] = total_cases_series